.main-page-container {
    height: 100%;
    flex: 1;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.users-list {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav {
    margin: 10px;
}

.add-user-button {
    margin: 15px;
    color: white;

    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    
    padding: 0 1.2rem;

    border-radius: 0.4rem;
    border: none;

    background-color: #29B6F6;
    cursor: pointer;

    box-shadow: 0px 0px 3px #61233563;
}